:root {
  /* Background colors */
  --green: #5AC41C;
  --dark-green: #418F14;
  --red: #CA3C25;
  --dark: #0D3B66;
  --light-grey:#DCDCDC;
  --grey:rgba(0, 0, 0, 0.05);
  /* text-colors */
  --dark-text: #394053;
  --dark-blue-text: #191f2a;
  --dark-light-text: #1d3557;
  --gray-text: #7e7e7e;
  --light-border: #fcfcfc;
  --light-border: #fcfcfc;
  --light-heading: #fcfcfc;
}


.
body {
  padding: 0;
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h2 {
  margin: 0 auto;
  padding-bottom: 20px;
}

nav {
  /*background-color: #2c3e50;*/
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px gray;
}

nav a{
  text-decoration: none;
  font-family: Open Sans,sans-serif;
  font-size: 0.85em;
  padding: 1em 0.4em;
  color:  var(--gray-text);
}

nav a:hover{
  text-decoration: none;
}

nav .active{
  background-color: rgba(224, 224, 224, 0.43);
  border-radius: 15px;

}

.navbar-brand{
  width: 100px;
  margin: 0;
  padding: 0;
}

#pageTitle {
  font-size: 2.5em;
  color: #fafafa;
}
#pageMenu {
  font-size: 1.5em;
  float: right;
  padding-right: 1%;
  padding-top: inherit;
}

#logo{
  width: 100%;
}

#logo img{
  float: left;
  width: 100px;
  height: 100%;
}

#logo a{
  text-decoration: none;
  padding: 0;
  border: unset;
}

#afterNavImage{
}

#afterNavImage img{
  display: block;
  width: 100%;
}

footer {
  background: var(--green);
  color: white;
  padding: 20px;
  bottom: 0;
  min-height: 400px;
}

footer h1 {
  border-bottom: 1px dashed var(--light-border);
  width: 100%;
  text-align: left;
}

footer h2 {
  padding-bottom: 0;
}

.footer-container {
  position: static;
  bottom: 0;
  left: 0;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
  padding: 2em;
  margin: 0 auto;
  height: auto;
  width: 100%;
  background-color: var(--green);
}

.footer-heading a {
  margin-top: 4%;
  color: var(--dark-text);
  text-decoration: none;
}

.footer-heading a:hover {
  color: #f2f2f2;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.footer-heading h2 {
  border-bottom: 2px solid var(--light-heading);
  margin-bottom: 4%;
}

.copyright {
  text-align: center;
  font-style: italic;
  color: var(--dark-text);
}

/*OrderNav.vue (scoped)*/
#navContainer{
  display: flex;
  flex-wrap: wrap;
  border: solid 1px red;
  background-color: var(--grey);
  border-radius: 15px;
  margin: 10px 10px;
}
.navStepContainer{
  margin: 0.5%;
  padding: 1% 2%;
  text-align: left;
}
.navStepInfo{
  padding: 0px 20px;
}
/*SearchForm.vue (scoped)*/

#searchFormContainer{
  margin: 50px auto;
  padding: 30px 0;
  background-color: var(--grey) ;
  border: solid 1px red;
  border-radius: 15px;
  width: 75%;
  display: grid;
  justify-content: center;
}

#searchFormContainer button{
  margin: 0 auto;
}

.searchForm{
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
}

.form-group {
  margin-bottom: 0px;
}

.searchForm button{
  height: fit-content;
  background-color: red;
  border: red;
}

.formRow{
  display:flex;
  flex-wrap: wrap;

}

.formColumn{
  width: 50%;
  padding: 0;
}

* {box-sizing: border-box;}

label {
  float: left;
}

input[type=date]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit]{
  margin: 0 auto;
}

select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: var(--green);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--green);
}

/*CarResultsView.vue*/
.carList {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  width: 80%;
}
.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: none;
}

figcaption {
  font-weight: 700;
  font-size:1.3rem;
}
.card button {
  width: 100%;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: var(--dark);
}
.card button:hover {
  cursor: pointer;
  background-color: var(--dark-blue-text);
}
.carList img {
  height: 250px;
  width: 315px;
}

.carList ul{
  list-style: none;
  margin: 0.5% auto;
  padding: 0;
  justify-content: space-around;
}

#vehicleInfoContainer {
  display: block;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 5% 0px;
}
.orderFormTxt {
  width: 48%;
  border-radius: 5px;
  outline: none;
  margin-bottom: 3%;
  padding: 2%;
  margin-right: 1%;
  margin-left: 1%;
  font-size: 14px;
}
#orderInfoContainer{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2%;
}
#orderInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: 3%;
}
#orderInfo h4{
  align-self: center;
}
#customerInfo{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:center;
  margin-right: auto;
  margin-left: 3%;
}
#customerInfo h4{
  align-self: center;
}
.orderFormLarge {
  width: 98%;
  border-radius: 5px;
  outline: none;
  margin-bottom: 3%;
  padding: 2%;
  font-size: 14px;
}
.orderFormTxtField{
  width: 100%;
  height: 160px;
  border-radius: 5px;
  margin-bottom: 3%;
  padding: 2%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
#orderFormContainer {
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding: 5%;
}

#orderViewContainer {
  display: flex;
  flex-wrap: wrap;
}

.vehicleImageContainer {
  width: 50%;
  max-width: 500px;
}

.vehicleDataContainer h2{
  margin: 0;
  padding: 0;
}


* {
  box-sizing: border-box;
}

.container {
  max-width: 1480px;
}

#homePageBorderContainer {

}

label {
  float: left;
}

input[type=submit] {
  background-color: var(--green);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 3%;
}

input[type=submit]:hover {
  background-color: var(--dark-green);
}

button {
  background-color: var(--green);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 3% 0;
}
button:hover{
  background-color: var(--dark-green);
}

.order-nav{
  background-color: var(--green);
  color: white;
}

.homePageModelContainer{
  display: flex;
  flex-direction: column;
  width: 1140px;
  margin: 50px auto;
}

.homePageModelContainer p{
  margin:0;
  padding:0;
}

.homePageAllCardsContainer{
  min-height: 542px;
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  grid-template-rows: repeat(1, auto);
  width: 1140px;
  grid-gap: 30px;
  margin: 41px 0 60px;
  display: grid;
}

.homePageSingleCardContainer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.homePageSingleCardContainer h3{
  background-color: #595959;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  height: 70px;
  padding-top: 20px;
}

.homePageSingleCardContainer h4 {
  background-color: #595959;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  height: 40px;
  padding: 6px;
}

#redBackground {
  background-color: red;
}

.homePageSingleCardContainer img{
  height: 227px;
}

.homePageSingleCardContainer button{
  background-color: red;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  height: 42px;
  margin: 20px auto 0;
}

.homePageCardDesc {
  padding: 30px 30px 0;
}

.homePageCardDesc p{
  margin: 0 auto;
}

.homePageCardDesc ul{
  width: 223px;
  font-size: 1rem;
  margin: 20px auto 0;
  justify-content: space-around;
}

.homePageCardDesc #special ul{
  width: 223px;
  font-size: 1rem;
  margin: 20px auto 0;
  justify-content: space-around;
}

.homePageCardDesc li{
  list-style-type: '🔻';
  padding-inline-start: 4ch;
  width: fit-content;
}

.homePageCardDesc svg{
  position: absolute;
  width: 1em;
  height: auto;
  left: 0.1em;
  text-align: center;
}
